<template>
  <div>
    <br>
    <Breadcrumb v-if="id === undefined">
        <BreadcrumbItem><router-link tag="a" to="/" class="bread">DESPESAS</router-link></BreadcrumbItem>
        <BreadcrumbItem>CADASTRO DE DESPESAS</BreadcrumbItem>
    </Breadcrumb>
    <Breadcrumb v-if="id !== undefined">
        <BreadcrumbItem><router-link tag="a" to="/" class="bread">DESPESAS</router-link></BreadcrumbItem>
        <BreadcrumbItem>EDIÇÃO DE DESPESA</BreadcrumbItem>
    </Breadcrumb>
    <br>
      <Form ref="despesa" :model="despesa" :rules="ruleValidate">
        <Row>
          <Col :lg="{span: 15, push: 8}" :xs="{span: 18, push: 4}">
            <Row :gutter="15">
              <Col :xs="24" :md="24" :lg="6">
                <FormItem label="VALOR R$" prop="valor">
                    <Input v-model="despesa.valor" v-money="money"></Input>
                    <span class="ivu-form-item-error-tip" v-show="errorValor">Por favor, informe o valor</span>
                </FormItem>
              </Col>
              <Col :xs="24" :md="24" :lg="6">
                <FormItem label="DATA" prop="data">
                    <Input v-model="despesa.data" v-mask="'##/##/####'"></Input>
                    <span class="ivu-form-item-error-tip" v-show="errorData">Por favor, informe a data</span>
                </FormItem>
              </Col>
            </Row>
            <Row :gutter="15">
              <Col :xs="24" :md="24" :lg="6">
                <FormItem label="TIPO DE DESPESA" prop="tipoDespesa">
                  <Select v-model="despesa.tipoDespesa" placeholder="Selecione...">
                    <Option value="ALIMENTACAO">Alimentação</Option>
                    <Option value="ESTACIONAMENTO">Estacionamento</Option>
                    <Option value="TAXI">Taxi</Option>
                  </Select>
                  <span class="ivu-form-item-error-tip" v-show="errorDespesa">Por favor, selecione o tipo de despesa</span>
                </FormItem>
              </Col>
              <Col :xs="24" :md="24" :lg="6">
                <FormItem label="FORMA DE PAGAMENTO" prop="formaPagamento">
                  <Select v-model="despesa.formaPagamento" placeholder="Selecione...">
                    <Option value="DINHEIRO">Dinheiro</Option>
                    <Option value="CARTAO">Cartão</Option>
                  </Select>
                  <span class="ivu-form-item-error-tip" v-show="errorFormaPagamento">Por favor, selecione a forma de pagamento</span>
                </FormItem>
              </Col>
            </Row>
            <Row :gutter="15">
              <Col :xs="24" :md="24" :lg="6">
                <FormItem label="TIPO DE REEMBOLSO" prop="tipoReembolso">
                  <Select v-model="despesa.tipoReembolso" placeholder="Selecione...">
                    <Option value="ADIANTAMENTO">Adiantamento</Option>
                    <Option value="NAOREEMBOLSAVEL">Não Reembolsável</Option>
                    <Option value="REEMBOLSAVEL">Reembolsável</Option>
                  </Select>
                  <span class="ivu-form-item-error-tip" v-show="errorTipoReembolso">Por favor, selecione o tipo de reembolso</span>
                </FormItem>
              </Col>
              <Col :xs="24" :md="24" :lg="6">
                <FormItem label="PROJETO" prop="projeto">
                  <Select v-model="despesa.projeto" placeholder="Selecione...">
                    <Option value="PROJETO1">Projeto 1</Option>
                    <Option value="PROJETO2">Projeto 2</Option>
                  </Select>
                  <span class="ivu-form-item-error-tip" v-show="errorProjeto">Por favor, selecione o projeto</span>
                </FormItem>
              </Col>
            </Row>
            <Row :gutter="15">
              <Col :xs="24" :md="24" :lg="6">
                <FormItem label="CLIENTE" prop="cliente">
                  <Select v-model="despesa.cliente" placeholder="Selecione...">
                    <Option value="CLIENTE1">Cliente 1</Option>
                    <Option value="CLIENTE2">Cliente 2</Option>
                  </Select>
                  <span class="ivu-form-item-error-tip" v-show="errorCliente">Por favor, selecione o cliente</span>
                </FormItem>
              </Col>
            </Row>
            <Row :gutter="15">
              <Col :xs="24" :md="24" :lg="12">
                <FormItem label="OBSERVAÇÃO">
                    <Input v-model="despesa.observacao" type="textarea" :autosize="{minRows: 2,maxRows: 5}" :maxlength="500"></Input>
                    <span class="ivu-form-item-error-tip" v-show="errorObservacao">Observação deve ter o tamanho entre 0 e 500</span>
                </FormItem>
              </Col>
            </Row>
            <Row :gutter="15">
              <Col :xs="24" :md="24" :lg="12" >
                <Button type="primary" @click="handleSubmit('despesa')">Salvar</Button>
              </Col>
            </Row>
          </Col>
        </Row>
      </Form>
  </div>
</template>

<script>
import axios from 'axios';
import _ from 'lodash';
import { mxDespesa } from '../mixins/mxDespesa'

  export default {
    props: ['id'],

    mixins: [mxDespesa],

    data () {
      return {
        despesa: {
          id: '',
          valor: null,
          data: null,
          tipoDespesa: null,
          formaPagamento: null,
          tipoReembolso: null,
          projeto: null,
          cliente: null,
          observacao: ''
        },
        errorValor: false,
        errorData: false,
        errorDespesa: false,
        errorFormaPagamento: false,
        errorTipoDespesa: false,
        errorTipoReembolso: false,
        errorProjeto: false,
        errorCliente: false,
        errorObservacao: false,
        money: null
      }
    },

    methods: {
      handleSubmit (name) {
        this.$refs[name].validate((valid) => {
          if (valid) {
            if(this.id === undefined) {
              axios.post("http://localhost:8080/api/despesas", this.despesa).then(response => {
                this.$Message.success("Cadastrado com sucesso!");
                this.$router.push('/')
              }).catch(e => {
                if(e.response.status === 400) {
                  this.validacaoErros(e.response.data)
                }
              });
            } else {
              axios.put("http://localhost:8080/api/despesas", this.despesa).then(response => {
                this.$Message.success("Alterado com sucesso!");
                this.$router.push('/')
              }).catch(e => {
                if(e.response.status === 400) {
                  this.validacaoErros(e.response.data)
                }
              });
            }
          } else {
            this.$Message.error('Preencha os campos obrigatórios!');
          }
        })
      },

      buscarDespesaPorId() {
        axios.get(`http://localhost:8080/api/despesas/${this.id}`).then(response => {
          this.despesa = response.data
          this.despesa.tipoDespesa = this.despesa.tipoDespesa.descricao
          this.despesa.formaPagamento = this.despesa.formaPagamento.descricao
          this.despesa.tipoReembolso = this.despesa.tipoReembolso.descricao
          this.despesa.projeto = this.despesa.projeto.descricao
          this.despesa.cliente = this.despesa.cliente.descricao
          this.addMascaraMoney()
        }).catch(e => {
          console.log(e.response)
        });
      },

      validacaoErros(arrayResponse) {
        var i
        for(i = 0; i < arrayResponse.length; i++) {
          if(arrayResponse[i].mensagemUsuario === "Mensagem inválida") {
            this.$Message.error('Operação inválida!');
          }
          if(arrayResponse[i].mensagemUsuario === "Valor é obrigatório(a)") {
            this.errorValor = true
          }
          if(arrayResponse[i].mensagemUsuario === "Data é obrigatório(a)") {
            this.errorData = true
          }
          if(arrayResponse[i].mensagemUsuario === "Tipo de despesa é obrigatório(a)") {
            this.errorDespesa = true
          }
          if(arrayResponse[i].mensagemUsuario === "Forma de pagamento é obrigatório(a)") {
            this.errorFormaPagamento = true
          }
          if(arrayResponse[i].mensagemUsuario === "Tipo de reembolso é obrigatório(a)") {
            this.errorTipoReembolso = true
          }
          if(arrayResponse[i].mensagemUsuario === "Projeto é obrigatório(a)") {
            this.errorProjeto = true
          }
          if(arrayResponse[i].mensagemUsuario === "Cliente é obrigatório(a)") {
            this.errorCliente = true
          }
          if(arrayResponse[i].mensagemUsuario === "Observação deve ter o tamanho entre 0 e 500") {
            this.errorObservacao = true
          }
        }
      },

      addMascaraMoney: _.debounce(function () {
        this.money = {
          decimal: ',',
          thousands: '.',
          prefix: 'R$ ',
          precision: 2,
          masked: false /* doesn't work with directive */
        }
      }, 50)
    },

    created() {
      if(this.id !== undefined) {
        this.buscarDespesaPorId()
      } else {
        this.addMascaraMoney()
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

.ivu-input {
  border: 1px solid #000 !important;
}

.ivu-input:focus {
  border: 1px solid #2d8cf0 !important;
}

.ivu-select-selection {
  border: 1px solid #000 !important;
}

.ivu-select-selection:focus {
  border: 1px solid #2d8cf0 !important;
}

.ivu-select-placeholder {
  color: #000 !important;
}
/* .ivu-select {
  border: 1px solid #000;
} */
</style>
