<template>
  <div>
    <br><br>
    <router-link tag="a" to="/nova-despesa"><Button icon="ios-add-circle-outline" class="btn-new">ADICIONAR DESPESA</Button></router-link>
    <br><br>
    <div class="datagrid">
        <table>
            <thead>
                <!-- <tr> -->
                    <th>Código</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Tipo de Despesa</th>
                    <th>Forma de Pagamento</th>
                    <th>Tipo de Reembolso</th>
                    <th>Projeto</th>
                    <th>Cliente</th>
                    <th>Ações</th>
                <!-- </tr> -->
            </thead>

            <tbody v-if="despesas.length != 0">
                <tr v-for="(despesa,index) in despesas" :key="index">
                    
                    <td v-text="despesa.id"></td>
                    <td>R$ {{ despesa.valor }}</td>
                    <td v-text="despesa.data"></td>
                    <td v-text="despesa.tipoDespesa.descricao"></td>
                    <td v-text="despesa.formaPagamento.descricao"></td>
                    <td v-text="despesa.tipoReembolso.descricao"></td>
                    <td v-text="despesa.projeto.descricao"></td>
                    <td v-text="despesa.cliente.descricao"></td>
                    <td>
                        <router-link tag="a" :to="{name: 'editarDespesa', params: {id: despesa.id}}" title="Editar" class="icon-edicao"><Icon type="md-create" size="18" title="EDITAR" style="cursor: pointer;"/></router-link>
                        <Icon type="md-trash" size="18" title="EXCLUIR" style="cursor: pointer;" @click="abrirModalExclusao(despesa.id)"/>
                    </td>
                </tr>
            </tbody>
            <tbody v-if="despesas.length == 0">
                <h6 class="center">Sem registro</h6>
            </tbody>

        </table>

        <Modal v-model="openModalExclusao"
        okText='OK'
        cancelText='Cancelar'
        @on-ok="excluirDespesa">
            <p slot="header" class="header-modal"> 
                <span>CONFIRMAÇÃO</span>
            </p>
            <div class="row">
                <h3>Deseja realmente excluir a despesa de código <span>{{ idDespesaExcluir }}</span>?</h3>
            </div>
        </Modal>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

  export default {
    data () {
      return {
        despesas: [],
        openModalExclusao: false,
        idDespesaExcluir: ''
      }
    },

    methods: {
        listarDespesas() {
            axios.get("http://localhost:8080/api/despesas").then(response => {
                this.despesas = response.data
            })
        },

        abrirModalExclusao(id) {
            this.openModalExclusao = true
            this.idDespesaExcluir = id
        },

        excluirDespesa() {
            axios.delete(`http://localhost:8080/api/despesas/${this.idDespesaExcluir}`);
            this.$Message.success('Excluído com sucesso!');
        }
    },

    created() {
        this.listarDespesas()
    },

    updated: function () {
        this.$nextTick(function () {
            this.listarDespesas()
        })
    }
  }
</script>

<style>

    .btn-new {
        margin-left: 50px;
        background-color: #193a5e !important;
        border-color: #193a5e !important;
        color: #fff !important;
        float: left;
    }

    .ivu-modal-header {
        background: #295682 !important;
    }

    .header-modal {
        color:white !important;
        text-align:center !important;
    }

    .icon-edicao {
        color: #2c3e50;
    }

    .icon-edicao:hover {
        color: #2c3e50;
    }

    .datagrid {
        font: normal 12px/150% Arial, Helvetica, sans-serif;
        border-radius: 3px;
        margin: 20px;
    }

    .datagrid table td,
    .datagrid table th {
        padding: 10px 14px;
    }

    .datagrid table thead th {
        background-color: #e8edf1;
        color: #193a5e;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
    }

    table {
        border-collapse: separate;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    table th {
        text-transform: uppercase;
    }

    td,
    th {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #e4e0e0;
    }

    tr:hover {
        background-color: #22968b !important;
        color: white;
    }

    .is-active-row {
        background-color: #22968b !important;
        color: white;
    }

    .is-active-row:focus {
        background-color: #22968b !important;
        color: white;
    }

    @media screen and (max-width: 600px) {

        table thead { display: none; }

        table tr {
            border-bottom: 10px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 1.2em;
            text-align: right;
        }

        table td:before {
            content: attr(data-label);
            float: left;
            font-size: 1em;
            padding-left: 5px;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child { border-bottom: 0; }

        .is-active-row {
            background-color: transparent !important;
            color: black;
        }

    }

    tr:nth-child(even) {
        background-color: #e2e8eec7;
    }
</style>
